---
---

@import "{{ site.theme }}";

header {
  display: none;
}

#main_content {
  margin-top: 20px;
}

#main_content h2 {
  border-top: 1px solid #b5e853;
  padding-top: 15px;
}

@media (max-width: 650px) {
  blockquote {
    margin: 0;
  }
}
